@import url("row-slider.css");

body {
    margin: 0;
    background-color: #0C0C0C;
    font-family: helvetica;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.nav-bar {
    width: 100%;
    padding-top: 20px;
    
    display: flex;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 10000;
    transition: 0.6s
}

.nav-bar .nav-lt {
    margin-left: 50px;
    margin-right: 3.8vh;
}

.nav-lt .nav-title {
    font-size: 30px;
    letter-spacing: 2px;
    color: red;
}


.nav-bar .nav-rt {
    margin-left: auto;
}

.nav-ctr .nav-options {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    color: #fff;
    list-style-type: none;
}

.nav-options .nav-trigger {
    margin-left: 13px;
}

.nav-rt {
    margin-right: 50px;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-rt a{
    font-size: 25px;
    margin-left: 30px;
    color: #fff;
}

.nav-rt a:first-child{
    font-size: 20px;
}

.sticky {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0A0A0A;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/tt-banner.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 30px 75vh black, inset 0px -200px 75vh black, 0px 0px 15px 5px black;
}

